server:
  port: 10000

spring:
  application:
    name: dolphin-app

  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:C:/dev/dolphin/h2/testdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        show_sql: true
        jdbc.time_zone: Asia/Seoul
        generate_statistics: false